@font-face {
  font-family: RetroGame;
  src: url(./assets/RetroGame.ttf);
}

.App {
  display: flex;
  flex-direction: column;
}

.Development {
  display: flex;
  flex-direction: row;
  font-family: RetroGame;
  font-size: 30px;
  text-align: center;
  white-space: nowrap;
}

.GameBoard {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.Assets {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.Files {
  border-top: 2px solid black;
  margin-top: 10px;
  font-size: 20px;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}

.image1 {
  position: absolute;
}
.image2 {
  position: relative;
}

.AssetScroller {
  overflow: scroll;
  height: 550px;
}

.SelectedAssetImg {
  width: 64px;
  height: 64px;
}

.SelectedAsset,
.ResetButton {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 2px solid black;
}

.GameBoard-row,
.AssetBoard-row {
  margin: 0;
  line-height: 0px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.GameBoard-square {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.AssetBoardImg {
  border: 1px solid white;
  width: 64px;
  height: 64px;
}

div .HoleLabel {
  position: absolute;
  display: none;
  color: white;
  font-size: 14px;
  margin-top: -20px;
  width: 64px;
}
.AssetBoard-square:hover .HoleLabel {
  display: block;
}

.AssetBoard-category {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}

Button {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: RetroGame;
}

.btn {
  font-size: 13px;
}

img {
  width: inherit;
  height: inherit;
}

h3 {
  font-size: 14px;
  color: grey;
}

text {
  margin-right: 5px;
}

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  width: 500px;
  margin-right: 30px;
}

button {
  font-size: 15px;
}

div:focus {
  outline: none;
}
